/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, body, html * {
  font-family: 'Roboto', sans-serif;
}

:root {
  color: #153065;
  --ifm-color-primary: #153065;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  color: white;
  --ifm-color-primary: #FD7547;
}
